h1{

	padding-left: 100px;
	
}

.slot {
		float: left;
		width: 150px;
		text-align: center;
		font-size: 40px;
		
	}
	
	
.slot-start{
		float: left;
		width: 150px;
		text-align: center;
		font-size: 40px;
		padding-left: 150px;
		clear: both;
	}
